* {
  font-family: roboto;
  color: #232323;
  max-width: 960px;
  margin: auto;
}

h1 {
  font-size: 3em;
  font-style: italic;
  color: lightseagreen;
}

table {
  min-width: 75%;
}

th {
  color: lightseagreen;
  text-align: left;
}

ol.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.header-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}

.main-content {
  margin-top: 75px;
}

.order-total {
  max-width: 75%;
  text-align: end;
  padding-right: 4em;
  padding-top: 2em;
}

input {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type=submit] {
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: lightseagreen;
  color: white;
}

input[type=submit]:active {
  background-color: lightseagreen;
  color: white;
  transform: scale(96%);
}

button {
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: darkred;
}

button:active {
  box-shadow: 0 0 0 0 darkred;
  transform: scale(96%);
}

.place-order-buton {
  cursor: pointer;
}
